@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"), local("OpenSans"),
        url("./fonts/OpenSans-Regular.woff2") format("woff2"),
        url("./fonts/OpenSans-Regular.woff") format("woff"),
        url("./fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
		font-display: swap;
  }

@font-face {
    font-family: "GothamPro";
    src: local("Gotham Pro Light"), local("Gotham-Pro-Light"),
        url("./fonts/GothamPro-Light.woff2") format("woff2"),
        url("./fonts/GothamPro-Light.woff") format("woff"),
        url("./fonts/GothamPro-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
		font-display: swap;
  }

@font-face {
    font-family: "GothamPro Bold";
    src: local("Gotham Pro Bold"), local("Gotham-Pro-Bold"),
        url("./fonts/GothamProBold.woff") format("woff"),
        url("./fonts/GothamProBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
		font-display: swap;
  }

body {
	background-color: #ffffff;
	font-family: "OpenSans", Arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #2f2f2f;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "GothamPro Bold", Arial, sans-serif;
	font-weight: bold;
	color: #10181f;
}

.centered {
	text-align: center;
}

a:hover, a:focus {
	text-decoration: none;
	outline: 0;
}

#headerwrap {
	background: url("./img/bg.png") no-repeat center top;
	background-size: 100%;
	padding-top: 72px;
	background-attachment: relative;
	background-position: center center;
	min-height: 684px;
	width: 100%;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

#contentwrap {
	background: url("./img/bg2.png")	no-repeat center;
	background-size: 100%;

	background-attachment: relative;

	background-position: 0 -900px;

	width: 100%;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.img-logo {
	width: 128px;
}

.first-title {
	margin-top: 132px;

	color: #ffffff;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -3px;
	text-transform: uppercase;
}

.second-title {
	font-family: "GothamPro", Arial, sans-serif;
	color: #ffffff;
	font-size: 42px;
	font-weight: 400;
	letter-spacing: -50;
	text-transform: uppercase;
}

.title-paragraph {
	padding-top: 44px;
	padding-bottom: 46px;

	font-size: 12px;
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
}

.btn {
	padding: 6px 18px;

	margin-bottom: 196px;
	box-shadow: 0 0 50px 10px #784383;

	font-size: 8px;
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;

	border-radius: 22px;
	background-image: linear-gradient(90deg, #854399 0%, #b14599 100%);
}

.img-fluid {
	position: absolute;
	bottom: 0;
}

.pre-paragraph {

	font-size: 14px;
	letter-spacing: 5px;
	color: #c19fcb;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 600;

	text-transform: uppercase;
}

.main-paragraph {
	position: relative;
	left: -3px;

	font-size: 42px;
	letter-spacing: -4px;

	line-height: 42px;
	color: #10181f;
	font-family: "GothamPro", Arial, sans-serif;
	font-weight: 300;
}

.main-paragraph > b {
	font-family: "GothamPro Bold", Arial, sans-serif;
}

.basic-paragraph {
	padding-top: 48px;
	padding-bottom: 56px;

	right: 100px;

	font-size: 12px;
	color: #2f2f2f;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
}

.container-fluid {
	max-width: 1170px;
}

.content-block1 {
	padding-top: 160px;

	background-attachment: relative;
	background-position: center center;	
}

.cow-img {
	width: 360px;
}

.icon-img {
	display: block;
	
	margin: auto;
	height: 66px;
}

.demo {
	padding-bottom: 90px;
} 

.demo-paragraph {
	white-space: pre-wrap;
	padding-top: 16px;
	padding-bottom: 100px;

	/* width: 166px; */

	font-size: 12px;
	color: #2f2f2f;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
}

.mobile-img {
	width: 440px;
}

.content-block3 {
	padding-top: 110px;

	background-attachment: relative;
	background-position: center center;	
}


